
/*  Nour  */






/*  Angel*/



/* Anton*/

*{
    margin: 0;
    padding: 0;
  }


.slider{
    width: 640px;
    height: 400px;
    margin: auto;
    overflow: visible;
    border: 10px solid #7B0000;
    margin-top: 30vh;
  
  }
  .pictures{
    display:column;
  
  }
  
  #förra{
    display: none;
    font-family: arial, sans-serif;
    margin-left: 45%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 8px;
    background-color:#7B0000;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    border-style: none;
  }
  
  #nästa{
    display: none;
    border-radius: 10px;
    padding: 8px;
    margin-left: 8px;
    background-color:#7B0000;
    font-family: arial, sans-serif;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    border-style: none;
  }
  
  #nästa:hover{
    padding: 12px;
  }
  
  #förra:hover{
    padding: 12px;
  }

.imagediv p{
    margin-left: 20px;
    font-family: sans-serif;
    color: white;
}

  .imagediv {
    background-color: #7B0000;
   
  }
 ;
